name: C++ CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++

      - name: Configure
        run: cmake -S . -B cmake-build-debug -DCMAKE_BUILD_TYPE=Release

      - name: Build
        run: cmake --build cmake-build-debug --config Release

      - name: Test
        run: ctest --test-dir cmake-build-debug --output-on-failure